html {
  box-sizing: border-box;
}
body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  background-image: linear-gradient(
    to bottom right,
    rgba(160, 72, 27, 0.885),
    rgba(100, 86, 114, 0.622)
  );
  margin: 0;
}
.container,
.container-heading {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container {
  height: 100vh;
  width: 80vw;
}
.container-heading,
.navigate {
  width: 20em;
}
.company {
  width: 70%;
  font-size: 1.5em;
}
.company > b,
.salute > b {
  font-size: 2em;
}
.welcome-text {
  width: 90%;
  font-size: medium;
}
.button {
  width: 100%;
  margin-top: 40px;
  padding: 20px;
  border-radius: 30px;
  font-size: 1.2em;
  border: 1px solid orangered;
  background-color: orangered;
  box-shadow: 1px 17px 19px 4px saddlebrown;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
}
.button:hover {
  padding: 25px;
  background-color: aliceblue;
  color: orangered;
  transition: 0.5s;
  border-radius: 0;
  text-transform: uppercase;
}
.register-heading,
.login-heading {
  font-size: 3em;
  margin-bottom: 25px;
}
.action {
  width: 28em;
}
.requirements {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}  
label {
  font-size: 20px;
}
input,
select {
  width: 20em;
  padding: 6px;
  border-radius: 10px;
  border: 0;
  outline: none;
}
input:focus {
  border-bottom: 1px solid saddlebrown;
}
input[class="log"] {
  padding: 10px;
}
.salute {
  width: 15em;
  text-transform: capitalize;
}
.greeting {
  font-size: 3em;
}
a {
  text-decoration: none;
  color: rgb(60, 54, 91);
}
a:hover {
  text-decoration: underline;
  text-transform: capitalize;
}
.apologies {
  background-color: rgba(162, 2, 2, 0.993);
  margin: 0;
  padding: 15px 30px;
}